<form
  [formGroup]="signupForm"
  (ngSubmit)="onSubmit()"
  class="max-w-3xl mx-auto mt-8 p-8 bg-white shadow-md rounded-md"
>
  <h2 class="text-3xl font-extrabold text-center text-gray-900 mb-6">
    Sign up for an account
  </h2>

  <div class="flex">
    <!-- User Image -->
    <div class="mb-4 mr-4 flex justify-between items-center" style="flex: 0.4">
      <label
        for="userImage"
        class="rounded-full bg-slate-200 h-72 flex-1"
      >
        <img
          *ngIf="selectedImage"
          [src]="selectedImage"
          alt="Selected Image"
          class="rounded-full h-72"
        />
        <input
          id="userImage"
          name="userImage"
          type="file"
          (change)="onImageSelected($event)"
          class="mt-1 w-full focus:outline-none opacity-0"
        />
      </label>
    </div>

    <div style="flex: 0.6">
      <!-- Username -->
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700"
          >Username:</label
        >
        <input
          id="userName"
          name="username"
          type="text"
          formControlName="userName"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- Full Name -->
      <div class="mb-4">
        <label for="fullName" class="block text-sm font-medium text-gray-700"
          >Full Name:</label
        >
        <input
          id="fullName"
          name="fullName"
          type="text"
          formControlName="fullName"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- Email -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email:</label
        >
        <input
          id="email"
          name="email"
          type="email"
          formControlName="email"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <!-- Password -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Password:</label
        >
        <input
          id="password"
          name="password"
          type="password"
          formControlName="password"
          class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        />
      </div>

      <button
        type="submit"
        class="w-full py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
      >
        Sign Up
      </button>
    </div>
  </div>
</form>
