<!-- header.component.html -->
<div class="bg-gray-800 text-white p-4 fixed w-screen top-0">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center">
        <a routerLink="/" class="text-xl font-bold">Home</a>
      </div>
      <div class="flex items-center space-x-4">
        <!-- <a routerLink="/explore" class="text-xl">Explore</a>
        <a routerLink="/notifications" class="text-xl">Notifications</a>
        <a routerLink="/profile" class="text-xl">Messages</a>
        <a routerLink="/post" class="text-xl">Post</a>
        <a routerLink="/profile" class="text-xl">Profile</a> -->
        <a routerLink="/sign-up" class="text-xl">Sign up</a>
        <a routerLink="/log-in" class="text-xl">Log In</a>
      </div>
    </div>
  </div>
  