/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.tooltip {
  background-color: #333;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  display: none;
  position: absolute;
}
